name: {{PACKAGE_NAME}}
description: {{PACKAGE_NAME_PASCAL}} feature package
version: 0.0.1
publish_to: none
resolution: workspace

environment:
  sdk: ^3.9.2

dependencies:
  # Flutter
  flutter:
    sdk: flutter

  ## Internal Dependencies
  # Infrastructure
  network:
    path: ../../infrastructure/network
  event_bus:
    path: ../../infrastructure/event_bus
  storage:
    path: ../../infrastructure/storage

  # Shared
  core:
    path: ../../shared/core
  config:
    path: ../../shared/config
  design_system:
    path: ../../shared/design_system

dev_dependencies:
  flutter_test:
    sdk: flutter

  # Linting
  flutter_lints: any

  # Code Generation
  build_runner: any
  freezed: any
  json_serializable: any
  injectable_generator: any
  auto_route_generator: any

  # Testing
  bloc_test: any
  mocktail: any

flutter:
  uses-material-design: true
