.dart_tool/package_config.json
.dart_tool/package_graph.json
.dart_tool/version
.dart_tool/extension_discovery/vs_code.json
.dart_tool/pub/workspace_ref.json
.dart_tool/pub/bin/build_runner/build_runner.dart-3.9.2.snapshot
.dart_tool/pub/bin/melos/melos.dart-3.9.2.snapshot
.idea/.name
.idea/modules.xml
.idea/runConfigurations/melos_bootstrap.xml
.idea/runConfigurations/melos_clean.xml
.idea/runConfigurations/melos_flutter_run_root.xml
.idea/runConfigurations/melos_flutter_test_app_shell.xml
.idea/runConfigurations/melos_flutter_test_assets.xml
.idea/runConfigurations/melos_flutter_test_auth.xml
.idea/runConfigurations/melos_flutter_test_config.xml
.idea/runConfigurations/melos_flutter_test_core.xml
.idea/runConfigurations/melos_flutter_test_event_bus.xml
.idea/runConfigurations/melos_flutter_test_home.xml
.idea/runConfigurations/melos_flutter_test_network.xml
.idea/runConfigurations/melos_flutter_test_profile.xml
.idea/runConfigurations/melos_run_add_devs.xml
.idea/runConfigurations/melos_run_codegen_watch.xml
.idea/runConfigurations/melos_run_codegen.xml
.idea/runConfigurations/melos_run_dev_dependencies.xml
.idea/runConfigurations/melos_run_test.xml
pubspec.lock
