.dart_tool/package_config.json
.dart_tool/package_graph.json
.dart_tool/version
.dart_tool/extension_discovery/vs_code.json
.dart_tool/pub/workspace_ref.json
.dart_tool/pub/bin/build_runner/build_runner.dart-3.9.2.snapshot
.dart_tool/pub/bin/melos/melos.dart-3.9.2.snapshot
.idea/.name
.idea/modules.xml
.idea/runConfigurations/melos_bootstrap.xml
.idea/runConfigurations/melos_clean.xml
.idea/runConfigurations/melos_flutter_run_root.xml
.idea/runConfigurations/melos_flutter_test_app_shell.xml
.idea/runConfigurations/melos_flutter_test_assets.xml
.idea/runConfigurations/melos_flutter_test_auth.xml
.idea/runConfigurations/melos_flutter_test_config.xml
.idea/runConfigurations/melos_flutter_test_core.xml
.idea/runConfigurations/melos_flutter_test_event_bus.xml
.idea/runConfigurations/melos_flutter_test_home.xml
.idea/runConfigurations/melos_flutter_test_network.xml
.idea/runConfigurations/melos_flutter_test_profile.xml
.idea/runConfigurations/melos_run_add_devs.xml
.idea/runConfigurations/melos_run_codegen_watch.xml
.idea/runConfigurations/melos_run_codegen.xml
.idea/runConfigurations/melos_run_dev_dependencies.xml
.idea/runConfigurations/melos_run_test.xml
pubspec.lock
packages/infrastructure/event_bus/.dart_tool/build/entrypoint/.packageLocations
packages/infrastructure/event_bus/.dart_tool/build/entrypoint/build.dart.dill
packages/infrastructure/event_bus/.dart_tool/build/fcd1995bc647fb959e82ea360c6c2c9a/asset_graph.json
.idea/runConfigurations/melos_flutter_test_design_system.xml
.idea/runConfigurations/melos_flutter_test_session.xml
.idea/runConfigurations/melos_flutter_test_splash.xml
.idea/runConfigurations/melos_flutter_test_storage.xml
.idea/runConfigurations/melos_flutter_test_theming.xml
.idea/runConfigurations/melos_run_codegen_all.xml

# Flutter/Dart/Pub related
.dart_tool/

# Generated Files
*.g.dart
*.freezed.dart
*.mocks.dart
*.config.dart