final class {{PACKAGE_NAME_PASCAL}}Routes {
  static {{PACKAGE_NAME_PASCAL}}Routes? _instance;

  // Private constructor
  factory {{PACKAGE_NAME_PASCAL}}Routes() => _instance ??= {{PACKAGE_NAME_PASCAL}}Routes._();

  // Singleton instance
  {{PACKAGE_NAME_PASCAL}}Routes._();

  // Define your route paths here
  // Example: static const String someRoute = '/some-route';
}
