import 'package:core/core.dart';

import 'router.gr.dart';

@AutoRouterConfig(
  replaceInRouteName: 'Page,Route',
)
class {{PACKAGE_NAME_PASCAL}}Router extends RootStackRouter {
  /// Routes will be configured in the orchestrator app.
  @override
  List<AutoRoute> get routes => [];
}
